/Degree/Materials
/Not Degree

First Contact MOC 🌍.md
Anon Marking Code.md

.idea

.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/novel-word-count/data.json
.trash/
.DS_Store

conflict-files-obsidian-git.md